.p2 {
  background-color: rgb(234, 239, 250);
  padding: 8px;
  color: rgba(1, 12, 14, 0.562);
  font-size: 16px;
  border-radius: 25px;
}
.ul_services {
  background-color: rgb(235, 242, 255);
  padding: 10px;
  border-radius: 30px;
}
.service_content_title {
  background-color: rgba(255, 255, 255, 0.774);
  padding: 7px;
  font-size: 17px;
  border-radius: 29px;

  color: rgb(9, 5, 5);
}
.point-item {
  background-color: rgba(255, 255, 255, 0.265);
  border-radius: 25px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0);
}
.point-item:hover {
  background-color: rgba(221, 228, 240, 0.265);
}
.point-item2 {
  background-color: rgba(249, 252, 255, 0.94);
  border-radius: 25px;
  font-size: 16px;
  padding: 15px;
  border: 2px solid rgba(0, 0, 0, 0.329);
}
