.background4 {
  background-color: #ffffffde;
}
.btn8 {
  background-color: #ff640ac0;
  color: rgb(250, 248, 248);
  padding: 8px;
  border: none;
  border-radius: 10px;
  transition: 0.3s;
}
.btn8:hover {
  background-color: rgba(0, 0, 0, 0.041);
  color: #a13908;
}
