.background2 {
  background-color: rgba(246, 245, 255, 0.689);
  padding: 5px;
  border-radius: 70px;
  transition: 0.7s;
}
.background2:hover {
  background-color: rgba(246, 245, 255, 0.881);
}
.my_img {
  width: 30% !important;
  text-align: center;
}
.div_style {
  background-color: rgba(75, 17, 134, 0.344);
  border-radius: 55px !important;
  padding: 25px;
}
.text_input {
  font-size: 13px !important;
}
.form-style {
  background-color: rgba(236, 253, 255, 0.712);
  padding: 5px;
  border-radius: 24px !important;
}
.w_90 {
  width: 90% !important;
}
.w_10 {
  width: 10% !important;
}
.background1 {
  background-color: rgb(226, 233, 255);
  cursor: pointer;
  border-radius: 8px;
}
.background1:hover {
  background-color: rgba(244, 247, 255, 0.911);
}
.label1 {
  background-color: rgba(178, 45, 255, 0.65);
  color: rgb(249, 249, 255);
  padding: 7px;
  border-radius: 10px;
  transition: 0.4s;
}
.label1:hover {
  background-color: rgba(115, 45, 255, 0.356);
  color: rgb(249, 249, 255);
}
