.button{
    cursor: pointer;

}
.hover1:hover{
    transition: 0.1s;
    background-color: #d1a4eb;
    color: white;
}
.hover2:hover{
    transition: 0.1s;
    background-color: #5174c0!important;
    color: white;
}
.label4{
    background-color: #e3fd83;
    border-radius: 5px;
    color: rgb(255, 51, 0);
    transition: 0.2s;
    padding: 3px;
}
.label4:hover{
    background-color: #e3fd8380;
    color: #11020265;
transition: 0.2s;
}