.button{
    cursor: pointer;

}
.hover1:hover{
    transition: 0.1s;
    background-color: #d1a4eb;
    color: white;
}
.hover2:hover{
    transition: 0.1s;
    background-color: #5174c0!important;
    color: white;
}